<nav>
    <ul>
        <li>
            {%- for entry in collections.all | eleventyNavigation %}
                <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
            {%- endfor %}
        </li>
    </ul>
</nav>
